  <h2>My Heroes</h2>
  <div>
    <label id="new-hero">Hero name: </label>
    <input for="new-hero" #heroName />

    <!-- (click) 入力値をadd()に渡したあと、入力をクリアする -->
    <button class="add-button" (click)="add(heroName.value); heroName.value=''">
      add
    </button>
  </div>
  <ul class="heroes">
    <li *ngFor="let hero of heroes">
      <a routerLink="/detail/{{hero.Id}}">
        <span class="badge">{{hero.Id}}</span> {{hero.Name}}
      </a>
      <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
    </li>
  </ul>
